@font-face {
  font-family: 'Archivo';
  src: url('./assets/fonts/Archivo/Archivo-VariableFont_wdth\,wght.ttf');
}

body, html {
  margin: 0;
  padding :0;
  height : 100vh;
  font-size : 60.5%;
  overscroll-behavior: none;
}

*{
  box-sizing: border-box;
}

#root{
  height : 100%
}
